/* Estilos básicos para la página del juego */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.game {
    border: 2px solid #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #1e1e1e;
}

.start-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #121212;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.start-btn:hover {
    background-color: #dcdcdc;
}

.start-btn:active {
    animation: button-press 0.9s forwards;
}

@keyframes button-press {
    0% {
        background-color: #FFFFFF;
    }
    100% {
        background-color: #FF6961;
    }
}
